flow.json
[{"id":"4318f8e7.bce708","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"XXX","applicationId":"","deviceType":"eHealth","eventType":"","commandType":"","format":"","name":"eHealth - IBM IoT App In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"x":307,"y":547,"z":"dec7b0cf.21385","wires":[["2586df12.da792","7d5065de.82af9c"]]},{"id":"d9ddc64a.262238","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"YYY","applicationId":"","deviceType":"sensirion","eventType":"","commandType":"","format":"","name":"sensirion - IBM IoT App In","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":true,"x":306,"y":763,"z":"dec7b0cf.21385","wires":[["cff9a6a1.300658"]]},{"id":"2586df12.da792","type":"mongodb out","service":"MongoLab-v5","mongodb":"","name":"save eHealth","collection":"eHealth","payonly":true,"upsert":false,"multi":false,"operation":"store","x":550,"y":637,"z":"dec7b0cf.21385","wires":[]},{"id":"cff9a6a1.300658","type":"mongodb out","service":"MongoLab-v5","mongodb":"","name":"save sensirion","collection":"sensirion","payonly":true,"upsert":false,"multi":false,"operation":"store","x":551,"y":669,"z":"dec7b0cf.21385","wires":[]},{"id":"7d5065de.82af9c","type":"function","name":"extract oxygenSaturation","func":"msg.payload = JSON.parse(msg.payload.d).oxygenSaturation\nreturn msg;","outputs":1,"noerr":0,"x":584,"y":547,"z":"dec7b0cf.21385","wires":[["f197060d.0e68f8"]]},{"id":"f197060d.0e68f8","type":"switch","name":"","property":"payload","rules":[{"t":"lt","v":"90"}],"checkall":"true","outputs":1,"x":766,"y":608,"z":"dec7b0cf.21385","wires":[["dbb1d1f8.244e3"]]},{"id":"3b5b04cc.c4a4fc","type":"watson-question-answer","name":"low oxygen saturation","output":"top","corpus":"healthcare","x":735,"y":783,"z":"dec7b0cf.21385","wires":[["a591bb16.5a6e48"]]},{"id":"a591bb16.5a6e48","type":"debug","name":"","active":true,"console":"false","complete":"false","x":552,"y":861,"z":"dec7b0cf.21385","wires":[]},{"id":"dbb1d1f8.244e3","type":"function","name":"prepare question","func":"msg.payload = \"What do to in case of low oxygen saturation?\"\nreturn msg;","outputs":1,"noerr":0,"x":912,"y":697,"z":"dec7b0cf.21385","wires":[["3b5b04cc.c4a4fc"]]}]